In [1]:
import wbgapi as wb   # I use wb as a namespace in all my work
import os
print(os.getcwd())
import sys
sys.path.insert(0, str(__import__('pathlib').Path().resolve().parents[[p.name for p in __import__('pathlib').Path().resolve().parents].index('ETL_Project')]))
from models import *
from dags.extract import wbapi_main

c:\Users\Admin\Downloads\Project\Github\ETL_Project\notebooks

In [2]:
object = wbapi_main()

In [3]:
# obj_test = object.series.get_data(SeriesDataInput(id='all'))
# print(obj_test)
# obj_test.to_csv(path = "")

In [4]:
obj = object.economy.dataframe_display(EconomyDataFrameInput(id='all', labels=False, skipAggs=False, db=None))

# print(obj)
display(obj)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)  # để không cắt ngắn văn bản dài
pd.set_option('display.expand_frame_repr', False)  # tránh wrap dòng

# id_columns = list(obj.index)
# obj['id']= id_columns
# # print(obj['id'])

# cols = list(obj.columns)
# cols.remove("id")
# cols.insert(0,"id")
# obj[cols]

,Country_Name,Aggregate,Longitude,Latitude,Region,Admin_Region,Lending_Type,Income_Level,Capital_Of_Country,Country_ID
0,Aruba,False,-70.0167,12.51670,LCN,,LNX,HIC,Oranjestad,ABW
1,Africa Eastern and Southern,True,NaN,NaN,,,,,,AFE
2,Afghanistan,False,69.1761,34.52280,MEA,MNA,IDX,LIC,Kabul,AFG
3,Africa Western and Central,True,NaN,NaN,,,,,,AFW
4,Angola,False,13.2420,-8.81155,SSF,SSA,IBD,LMC,Luanda,AGO
...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,False,20.9260,42.56500,ECS,ECA,IDX,UMC,Pristina,XKX
262,"Yemen, Rep.",False,44.2075,15.35200,MEA,MNA,IDX,LIC,Sana'a,YEM
263,South Africa,False,28.1871,-25.74600,SSF,SSA,IBD,UMC,Pretoria,ZAF
264,Zambia,False,28.2937,-15.39820,SSF,SSA,IDX,LMC,Lusaka,ZMB
265,Zimbabwe,False,31.0672,-17.83120,SSF,SSA,IDB,LMC,Harare,ZWE

In [5]:
ob

NameError: name 'ob' is not defined