In [1]:
# import os
# import sys
# PROJECT_ROOT = os.path.dirname(os.path.abspath(""))

# if PROJECT_ROOT not in sys.path:
#     sys.path.insert(0, PROJECT_ROOT)
# from scripts.extract import WorldBankExtractOperator
# from scripts.transform import SparkTransformOperator
# from scripts.loads import DatabaseLoaderService
# from scripts.load_wbapi_etl_config import ETLPipelineConfig

In [3]:
import requests
from bs4 import BeautifulSoup
import re

url = "https://www.cophieu68.vn/quote/financial_detail.php?id=vpb&type=year"
soup = BeautifulSoup(requests.get(url).text, 'html.parser')
print(soup.prettify())

<html>
 <head>
  <title>
  </title>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
  <meta content="654849931255-ih074eactp9a01969m3et8i16vuai71r.apps.googleusercontent.com" name="google-signin-client_id"/>
  <meta content="MOqJliEGOjPuN6S6rRC_ivdy9sgJpQ_K0Sads9VpcTQ" name="google-site-verification">
   <meta content="" name="keywords">
    <meta content="" name="description">
     <link href="https://www.cophieu68.vn/css/colorbox.css" media="screen" rel="stylesheet" type="text/css"/>
     <link href="https://www.cophieu68.vn/css/screen.css" media="screen" rel="stylesheet" type="text/css"/>
     <link href="https://www.cophieu68.vn/css/mobile.css" media="screen" rel="stylesheet" type="text/css"/>
     <script data-auto-replace-svg="nest" src="https://www.cophieu68.vn/js/fontawesome.js">
     </script>
     <script src="https://www.cophieu68.vn/js/jquery.min.js" type="text/javascript">
     </script>
     <script src="https://www.cophieu68.vn/js/jquery-ui.js">
     </script>
     <script src="https://www.cophieu68.vn/js/jquery.touchSwipe.js">
     </script>
     <script src="https://www.cophieu68.vn/js/jquery.colorbox-min.js">
     </script>
     <script src="https://www.cophieu68.vn/js/common.js?1755409760" type="text/javascript">
     </script>
     <script src="https://www.cophieu68.vn/js/iconify.min.js">
     </script>
     <script>
      var WEBROOT = 'https://www.cophieu68.vn';
     </script>
     <script src="https://www.cophieu68.vn/chart/js/stockname_search.js" type="text/javascript">
     </script>
     <script src="https://www.cophieu68.vn/chart/js/company_list.js" type="text/javascript">
     </script>
     <!-- Google tag (gtag.js) -->
     <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-ETJEDHQR2R">
     </script>
     <script>
      window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-ETJEDHQR2R');
     </script>
     <!-- Google ads -->
     <script async="" crossorigin="anonymous" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4497614833474292">
     </script>
    </meta>
   </meta>
  </meta>
 </head>
 <body>
  <div id="over_header" style="height:35px; border-bottom:0px solid #CCC; width:100%;">
   <div class="logo flex" style="float:left;">
    <a href="https://www.cophieu68.vn/index.php">
     <img alt="Trang chá»§" src="https://www.cophieu68.vn/images/logo_wap.gif"/>
    </a>
   </div>
   <div class="flex_row" style="float:right; margin-right:10px; height:100%;">
    <div class="flex" id="user_menu">
     <div onclick="showList('user_list')" style="padding:0 10px; cursor:pointer;">
      <i class="fa-regular fa-user">
      </i>
     </div>
     <div id="user_list" style="padding:10px; border:1px solid #CCC; z-index:10; background:#fff; top:35px; position:absolute; display:none;">
      <div style="padding:5px;">
       <a href="https://www.cophieu68.vn/account/login.php">
        <i class="fa fa-sign-in fa-lg">
        </i>
        ÄÄNG NHáº¬P
       </a>
      </div>
     </div>
    </div>
    <div class="flex" style="float:left; height:35px; margin-right: 35px; padding:0">
     <div style="height:100%; width:100%">
      <form action="" method="get" style="margin:0; padding:0">
       <input autocomplete="off" class="textbox_dark" id="id" name="id" placeholder="MÃ£ CK" style="width:100%; height:100%; text-transform: uppercase; text-align:center" type="text" value="vpb"/>
       <input name="stockname_search" style="display: none;" type="submit"/>
      </form>
     </div>
    </div>
    <div class="search_result" style="position:fixed; z-index: 1000000; background:#FFF; min-height:30px; display:none; top: 35px;  right: 0; border: 3px solid #CCC; border-radius: 5px;">
    </div>
    <div id="menu_overtop" style="position: fixed; top: 5px; right: 5px; z-index: 1; opacity: 0.9">
     <a href="javascript:void(0)" onclick="$('#menu_overtop_list').show();" style="color:#666">
      <i class="fa fa-list-ul fa-2x">
      </i>
     </a>
     <div class="div_curve div_curve_autohide" id="menu_overtop_list" style="display: none; position: fixed; top: 5px; right: 1px; z-index: 1; width: 200px">
      <div onclick="$('#menu_overtop_list').hide()" style="position: absolute; top:0; right:0; padding:0px 3px; font-weight: bold; cursor: pointer;">
       <i class="fa fa-times fa-2x" style="color:#ff0000" title="ÄÃ³ng">
       </i>
      </div>
      <ul class="ul_list_item" style="margin-top:0px">
       <li>
        <a href="https://www.cophieu68.vn/index.php">
         <i class="fa fa-home fa-lg">
         </i>
         Trang chá»§
        </a>
       </li>
       <li>
        <a href="https://www.cophieu68.vn/stockonline.php">
         <i class="fa fa-list-alt fa-lg">
         </i>
         Báº£ng giao dá»ch trá»±c tuyáº¿n
        </a>
       </li>
       <li>
        <a href="https://www.cophieu68.vn/chartold/chart.php?id=^vnindex">
         <i class="fa fa-line-chart fa-lg">
         </i>
         Biá»u Äá» PHIÃN Báº¢N CÅ¨
        </a>
       </li>
       <li>
        <a href="https://www.cophieu68.vn/chart/chart.php?id=^vnindex">
         <i class="fa fa-line-chart fa-lg">
         </i>
         Biá»u Äá» phÃ¢n tÃ­ch ká»¹ thuáº­t
        </a>
       </li>
       <li style="padding:0; border-top:2px solid #999">
       </li>
       <li>
        <a href="#https://www.cophieu68.vn/investment_basic_indexes.php">
         <i class="fa fa-star-half-o fa-lg">
         </i>
         Sá»©c máº¡nh chá» sá» cÆ¡ báº£n
        </a>
       </li>
       <li>
        <a href="#https://www.cophieu68.vn/company_financial.php">
         <i class="fa fa-balance-scale fa-lg">
         </i>
         So sÃ¡nh bÃ¡o cÃ¡o tÃ i chÃ­nh
        </a>
       </li>
       <li>
        <a href="#https://www.cophieu68.vn/market_vn.php">
         <i class="fa fa-percent fa-lg">
         </i>
         Chá» sá» thá» trÆ°á»ng
        </a>
       </li>
       <li>
        <a href="#https://www.cophieu68.vn/events.php">
         <i class="fa fa-calendar fa-lg">
         </i>
         Cá» tá»©c - Lá»ch sá»± kiá»n
        </a>
       </li>
       <li style="padding:0; border-top:2px solid #999">
       </li>
       <li>
        <a href="#https://www.cophieu68.vn/advanced_statistic.php">
         <i class="fa fa-tachometer fa-lg">
         </i>
         Thá»ng kÃª nÃ¢ng cao
        </a>
       </li>
       <li>
        <a href="#https://www.cophieu68.vn/plan_income.php">
         <i class="fa fa-money fa-lg">
         </i>
         Káº¿ hoáº¡ch kinh doanh
        </a>
       </li>
       <li>
        <a href="https://www.cophieu68.vn/stats/stats.php">
         <i class="fa fa-hourglass-end fa-lg">
         </i>
         ÄÃ¡y cá» phiáº¿u
        </a>
       </li>
       <li>
        <a href="https://www.cophieu68.vn/stats/volume_buzz.php">
         <i class="fa fa-sort-numeric-asc fa-lg">
         </i>
         Äá»t biáº¿n khá»i lÆ°á»£ng
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>
  <div class="menu_header overflow" style="background-color:#666;">
   <ul>
    <li>
     <a class="" href="https://www.cophieu68.vn/stats/stats.php">
      Thá»ng KÃª
     </a>
    </li>
    <li>
     <a class="" href="https://www.cophieu68.vn/market/markets.php">
      CÃ´ng ty niÃªm yáº¿t
     </a>
    </li>
    <li>
     <a class="" href="https://www.cophieu68.vn/category/category_index.php">
      NhÃ³m NgÃ nh
     </a>
    </li>
    <li>
     <a class="" href="https://www.cophieu68.vn/signal/filter_financial.php">
      Bá» lá»c
     </a>
    </li>
    <li>
     <a class="" href="https://www.cophieu68.vn/event/events.php">
      Lá»ch Sá»± Kiá»n
     </a>
    </li>
    <li>
     <a class="" href="https://www.cophieu68.vn/chart/index.php">
      Biá»u Äá»
     </a>
    </li>
    <li>
     <a class="" href="https://www.cophieu68.vn/download/index.php">
      Dá»¯ liá»u AMIBROKER / METASTOCK / MT4
     </a>
    </li>
    <li>
     <a class="" href="#https://www.cophieu68.vn/document/index.php">
      GÃ³c Chia sáº» kiáº¿n thá»©c
     </a>
    </li>
   </ul>
  </div>
  <div class="margin_wrap">
   <div class="flex_m_col_d_row">
    <div>
     <h1>
      NgÃ¢n hÃ ng TMCP Viá»t Nam Thá»nh VÆ°á»£ng
      <span style="color:#787b86">
       (vpb)
      </span>
     </h1>
     <span class="break">
     </span>
     <div class="flex_row">
      <div class="priceup" id="stockname_close" style="font-size:25px; font-weight:bold; padding-right:14px;">
       31.10
      </div>
      <div class="priceup" id="stockname_price_change" style="font-size:25px; padding-right:14px;">
       0.30
      </div>
      <div class="priceup" id="stockname_percent_change" style="font-size:25px;">
       (0.97%)
      </div>
     </div>
    </div>
    <div class="seperate min_768">
    </div>
    <div class="break max_768">
    </div>
   </div>
   <span class="break2">
   </span>
   <div class="menu_quote overflow">
    <a class="" href="https://www.cophieu68.vn/quote/summary.php?id=vpb">
     Tá»ng quan
    </a>
    <a class="" href="https://www.cophieu68.vn/chart/chart.php?id=vpb">
     Biá»u Äá»
    </a>
    <a class="" href="https://www.cophieu68.vn/quote/history.php?id=vpb">
     GiÃ¡ lá»ch sá»­
    </a>
    <a class="" href="https://www.cophieu68.vn/quote/profile.php?id=vpb">
     ThÃ´ng tin
    </a>
    <a class="active" href="https://www.cophieu68.vn/quote/financial.php?id=vpb">
     BÃ¡o cÃ¡o tÃ i chÃ­nh
    </a>
    <a class="" href="https://www.cophieu68.vn/quote/event.php?id=vpb">
     Lá»ch sá»± kiá»n
    </a>
   </div>
  </div>
  <style>
   .financial{}
.financial_main_bold{font-weight: bold; background: #f2f2f2}
.financial_main{font-weight: bold;}

.financial_bold{font-weight: bold;}
.financial_italic{font-style: italic; color:#666}
  </style>
  <div style="clear:both; margin-top:20px; padding-left:20px">
   <div class="overflow">
    <a class="b_button b_blue" href="?id=vpb&amp;type=quarter">
     Chi tiáº¿t QuÃ½
    </a>
    <a class="b_button b_grey" href="#" style="font-weight:bold">
     ✓ Chi tiáº¿t NÄm
    </a>
    <a class="b_button" href="?id=vpb&amp;less=1" style="font-weight:bold; color:#ff6600; text-decoration:underline;">
     # Chá» hiá»n thá» cÃ¡c thÃ´ng tin chÃ­nh #
    </a>
   </div>
  </div>
  <br/>
  <h2 style="padding-left:10px; font-size:140%">
   Káº¾T QUáº¢ KINH DOANH
   <a class="b_button b_red" href="?id=vpb&amp;hideIC=1" title="áº¨n Káº¾T QUáº¢ KINH DOANH">
    x
   </a>
  </h2>
  <div class="margin_wrap" style="margin-top:10px;">
   <div>
    <em>
     ÄÆ¡n vá» Triá»u VNÄ
    </em>
   </div>
   <div class="flex overflow">
    <div style="width:100%;">
     <table cellpadding="10" cellspacing="0" id="table_content_income" style="position:relative; background:#FFF" width="100%">
      <thead>
       <tr class="tr_header">
        <td class="tr_header" style="min-width:200px; ">
         Chá» tiÃªu
        </td>
        <td align="right" style="min-width:120px">
         NÄm 2024
        </td>
        <td align="right" style="min-width:120px">
         NÄm 2023
        </td>
        <td align="right" style="min-width:120px">
         NÄm 2022
        </td>
        <td align="right" style="min-width:120px">
         NÄm 2021
        </td>
        <td align="right" style="min-width:120px">
         NÄm 2020
        </td>
        <td align="right" style="min-width:120px">
         NÄm 2019
        </td>
        <td align="right" style="min-width:120px">
         NÄm 2018
        </td>
        <td align="right" style="min-width:120px">
         NÄm 2017
        </td>
        <td align="right" style="min-width:120px">
         NÄm 2016
        </td>
        <td align="right" style="min-width:120px">
         NÄm 2015
        </td>
        <td align="right" style="min-width:120px">
         NÄm 2014
        </td>
        <td align="right" style="min-width:120px">
         NÄm 2013
        </td>
        <td align="right" style="min-width:120px">
         NÄm 2012
        </td>
        <td align="right" style="min-width:120px">
         NÄm 2011
        </td>
        <td align="right" style="min-width:120px">
         NÄm 2010
        </td>
       </tr>
      </thead>
      <tr class="financial_main" data-id="" onmouseout="outTR(this)" onmouseover="hoverTR(this)">
       <td class="td_bg2 td_bottom3">
        Thu nháº­p lÃ£i thuáº§n
       </td>
       <td align="right" class="td_bottom3">
        49,080,407
       </td>
       <td align="right" class="td_bottom3">
        38,174,676
       </td>
       <td align="right" class="td_bottom3">
        41,021,058
       </td>
       <td align="right" class="td_bottom3">
        34,348,829
       </td>
       <td align="right" class="td_bottom3">
        32,345,823
       </td>
       <td align="right" class="td_bottom3">
        30,670,461
       </td>
       <td align="right" class="td_bottom3">
        24,701,575
       </td>
       <td align="right" class="td_bottom3">
        20,614,426
       </td>
       <td align="right" class="td_bottom3">
        15,167,859
       </td>
       <td align="right" class="td_bottom3">
        10,353,437
       </td>
       <td align="right" class="td_bottom3">
        5,291,087
       </td>
       <td align="right" class="td_bottom3">
        4,082,587
       </td>
       <td align="right" class="td_bottom3">
        2,967,161
       </td>
       <td align="right" class="td_bottom3">
        2,045,109
       </td>
       <td align="right" class="td_bottom3">
        1,077,037
       </td>
      </tr>
      <tr class="financial" data-id="" onmouseout="outTR(this)" onmouseover="hoverTR(this)">
       <td class="td_bg2 td_bottom3">
        Thu nháº­p tá»« lÃ£i vÃ  cÃ¡c khoáº£n thu nháº­p tÆ°Æ¡ng tá»±
       </td>
       <td align="right" class="td_bottom3">
        80,111,645
       </td>
       <td align="right" class="td_bottom3">
        76,557,377
       </td>
       <td align="right" class="td_bottom3">
        62,200,250
       </td>
       <td align="right" class="td_bottom3">
        50,827,098
       </td>
       <td align="right" class="td_bottom3">
        52,361,767
       </td>
       <td align="right" class="td_bottom3">
        49,874,784
       </td>
       <td align="right" class="td_bottom3">
        40,280,214
       </td>
       <td align="right" class="td_bottom3">
        34,133,371
       </td>
       <td align="right" class="td_bottom3">
        25,631,116
       </td>
       <td align="right" class="td_bottom3">
        18,758,801
       </td>
       <td align="right" class="td_bottom3">
        12,404,218
       </td>
       <td align="right" class="td_bottom3">
        11,125,177
       </td>
       <td align="right" class="td_bottom3">
        10,340,939
       </td>
       <td align="right" class="td_bottom3">
        9,539,693
       </td>
       <td align="right" class="td_bottom3">
        3,814,024
       </td>
      </tr>
      <tr class="financial" data-id="" onmouseout="outTR(this)" onmouseover="hoverTR(this)">
       <td class="td_bg2 td_bottom3">
        Chi phÃ­ lÃ£i vÃ  cÃ¡c chi phÃ­ tÆ°Æ¡ng tá»±
       </td>
       <td align="right" class="td_bottom3 pricedown">
        -31,031,238
       </td>
       <td align="right" class="td_bottom3 pricedown">
        -38,382,701
       </td>
       <td align="right" class="td_bottom3 pricedown">
        -21,179,192
       </td>
       <td align="right" class="td_bottom3 pricedown">
        -16,478,269
       </td>
       <td align="right" class="td_bottom3 pricedown">
        -20,015,944
       </td>
       <td align="right" class="td_bottom3 pricedown">
        -19,204,323
       </td>
       <td align="right" class="td_bottom3 pricedown">
        -15,578,639
       </td>
       <td align="right" class="td_bottom3 pricedown">
        -13,518,945
       </td>
       <td align="right" class="td_bottom3 pricedown">
        -10,463,257
       </td>
       <td align="right" class="td_bottom3 pricedown">
        -8,405,364
       </td>
       <td align="right" class="td_bottom3 pricedown">
        -7,113,131
       </td>
       <td align="right" class="td_bottom3 pricedown">
        -7,042,590
       </td>
       <td align="right" class="td_bottom3 pricedown">
        -7,373,778
       </td>
       <td align="right" class="td_bottom3 pricedown">
        -7,494,584
       </td>
       <td align="right" class="td_bottom3 pricedown">
        -2,736,987
       </td>
      </tr>
      <tr class="financial_main" data-id="" onmouseout="outTR(this)" onmouseover="hoverTR(this)">
       <td class="td_bg2 td_bottom3">
        LÃ£i/Lá» thuáº§n tá»« hoáº¡t Äá»ng dá»ch vá»¥
       </td>
       <td align="right" class="td_bottom3">
        6,126,323
       </td>
       <td align="right" class="td_bottom3">
        7,211,882
       </td>
       <td align="right" class="td_bottom3">
        6,437,752
       </td>
       <td align="right" class="td_bottom3">
        4,059,031
       </td>
       <td align="right" class="td_bottom3">
        3,356,127
       </td>
       <td align="right" class="td_bottom3">
        2,791,620
       </td>
       <td align="right" class="td_bottom3">
        1,612,496
       </td>
       <td align="right" class="td_bottom3">
        1,461,544
       </td>
       <td align="right" class="td_bottom3">
        852,926
       </td>
       <td align="right" class="td_bottom3">
        884,667
       </td>
       <td align="right" class="td_bottom3">
        607,152
       </td>
       <td align="right" class="td_bottom3">
        603,824
       </td>
       <td align="right" class="td_bottom3">
        270,817
       </td>
       <td align="right" class="td_bottom3">
        407,332
       </td>
       <td align="right" class="td_bottom3">
        211,410
       </td>
      </tr>
      <tr class="financial" data-id="" onmouseout="outTR(this)" onmouseover="hoverTR(this)">
       <td class="td_bg2 td_bottom3">
        Thu nháº­p tá»« hoáº¡t Äá»ng dá»ch vá»¥
       </td>
       <td align="right" class="td_bottom3">
        13,201,660
       </td>
       <td align="right" class="td_bottom3">
        12,307,787
       </td>
       <td align="right" class="td_bottom3">
        10,455,695
       </td>
       <td align="right" class="td_bottom3">
        6,884,061
       </td>
       <td align="right" class="td_bottom3">
        6,166,753
       </td>
       <td align="right" class="td_bottom3">
        5,487,466
       </td>
       <td align="right" class="td_bottom3">
        3,818,797
       </td>
       <td align="right" class="td_bottom3">
        3,210,071
       </td>
       <td align="right" class="td_bottom3">
        2,114,834
       </td>
       <td align="right" class="td_bottom3">
        1,597,313
       </td>
       <td align="right" class="td_bottom3">
        959,852
       </td>
       <td align="right" class="td_bottom3">
        880,209
       </td>
       <td align="right" class="td_bottom3">
        671,852
       </td>
       <td align="right" class="td_bottom3">
        844,608
       </td>
       <td align="right" class="td_bottom3">
        334,111
       </td>
      </tr>
      <tr class="financial" data-id="" onmouseout="outTR(this)" onmouseover="hoverTR(this)">
       <td class="td_bg2 td_bottom3">
        Chi phÃ­ hoáº¡t Äá»ng dá»ch vá»¥
       </td>
       <td align="right" class="td_bottom3 pricedown">
        -7,075,337
       </td>
       <td align="right" class="td_bottom3 pricedown">
        -5,095,905
       </td>
       <td align="right" class="td_bottom3 pricedown">
        -4,017,943
       </td>
       <td align="right" class="td_bottom3 pricedown">
        -2,825,030
       </td>
       <td align="right" class="td_bottom3 pricedown">
        -2,810,626
       </td>
       <td align="right" class="td_bottom3 pricedown">
        -2,695,846
       </td>

In [6]:
import pandas as pd
from dataclasses import dataclass
from typing import List, Optional

# ==== Dataclass ====
@dataclass
class StockFinancialReport:
    symbol: str
    report_type: str         # "income" | "balance" | "cashflow"
    table_index: int         # bảng số mấy trong page
    data: pd.DataFrame       # dữ liệu báo cáo (raw DataFrame)
    
@dataclass
class IncomeStatementReport:
    symbol: str
    period: Optional[str]   # Năm/Quý, có thể None nếu chưa parse
    table_index: int
    data: pd.DataFrame  


# ==== Hàm crawl generic ====
def crawl_financial_report(symbol: str, report_type: str) -> Optional[List[StockFinancialReport]]:
    url = f"https://www.cophieu68.vn/quote/financial_detail.php?id={symbol.upper()}&type={report_type}"
    try:
        tables = pd.read_html(url, flavor="lxml")
        reports = []
        for i, df in enumerate(tables):
            reports.append(
                StockFinancialReport(
                    symbol=symbol.upper(),
                    report_type=report_type,
                    table_index=i,
                    data=df
                )
            )
        return reports
    except Exception as e:
        print(f"❌ Error fetching {report_type} for {symbol}: {e}")
        return None


# ==== Hàm crawl Income Statement ====
def crawl_income_statement(symbol: str) -> Optional[List[IncomeStatementReport]]:
    reports = crawl_financial_report(symbol, "income")
    if not reports:
        return None
    return [
        IncomeStatementReport(
            symbol=r.symbol,
            period=None,   # bạn có thể parse từ df.columns[0] nếu muốn
            table_index=r.table_index,
            data=r.data
        )
        for r in reports
    ]


# ==== Test thử với VPB ====
income_reports = crawl_income_statement("VPB")

if income_reports:
    print(f"Số bảng lấy được: {len(income_reports)}")
    print("5 dòng đầu tiên của bảng 1:")
    display(income_reports[0].data)
else:
    print("Không crawl được báo cáo.")

Số bảng lấy được: 2
5 dòng đầu tiên của bảng 1:

,Chỉ tiêu,Qúy 4 2024,Qúy 3 2024,Qúy 2 2024,Qúy 1 2024,Qúy 4 2023,Qúy 3 2023,Qúy 2 2023,Qúy 1 2023,Qúy 4 2022,...,Qúy 2 2022,Qúy 1 2022,Qúy 4 2021,Qúy 3 2021,Qúy 2 2021,Qúy 1 2021,Qúy 4 2020,Qúy 3 2020,Qúy 2 2020,Qúy 1 2020
0,Thu nhập lãi thuần,13192997,12155772,12408240.0,11323398.0,11041836.0,8836748,8762153.0,9533939.0,10282653.0,...,10465653.0,9887714.0,8522870.0,7474232.0,9231836.0,9119891.0,8739998.0,7883845.0,7700802.0,8021178.0
1,Thu nhập từ lãi và các khoản thu nhập tương tự,21401247,19607046,19757425.0,19345927.0,20430922.0,19323045,18774908.0,18028502.0,16655830.0,...,15446690.0,14239240.0,12498074.0,11504643.0,13486135.0,13338246.0,13348549.0,12883536.0,12881819.0,13247863.0
2,Chi phí lãi và các chi phí tương tự,-8208250,-7451274,-7349185.0,-8022529.0,-9389086.0,-10486297,-10012755.0,-8494563.0,-6373177.0,...,-4981037.0,-4351526.0,-3975204.0,-4030411.0,-4254299.0,-4218355.0,-4608551.0,-4999691.0,-5181017.0,-5226685.0
3,Lãi/Lỗ thuần từ hoạt động dịch vụ,1541890,1147565,1883037.0,1553831.0,1881068.0,1889361,1657042.0,1668354.0,1881147.0,...,1538007.0,1249219.0,1196076.0,790544.0,1084925.0,987486.0,1033041.0,940521.0,687414.0,695151.0
4,Thu nhập từ hoạt động dịch vụ,3520835,2866247,3652877.0,3161701.0,3566973.0,3002653,2830715.0,2786451.0,3112294.0,...,2450690.0,2099591.0,2065323.0,1472398.0,1716381.0,1629959.0,1719173.0,1605722.0,1402594.0,1439264.0
5,Chi phí hoạt động dịch vụ,-1978945,-1718682,-1769840.0,-1607870.0,-1685905.0,-1113292,-1173673.0,-1118097.0,-1231147.0,...,-912683.0,-850372.0,-869247.0,-681854.0,-631456.0,-642473.0,-686132.0,-665201.0,-715180.0,-744113.0
6,Lãi/Lỗ thuần từ hoạt động kinh doanh ngoại hối,232871,96258,193939.0,304172.0,-185079.0,-63648,-210616.0,-346630.0,-339979.0,...,-166609.0,-82911.0,-30337.0,-9619.0,7087.0,-43525.0,-87266.0,-126783.0,-92620.0,-538.0
7,Lãi/Lỗ thuần từ mua bán chứng khoán kinh doanh,236288,116898,40310.0,-32540.0,47520.0,88897,148543.0,95213.0,68282.0,...,-232373.0,-66352.0,13522.0,-11009.0,56343.0,-49977.0,-3919.0,-4644.0,16699.0,218330.0
8,Lãi/Lỗ thuần từ mua bán chứng khoán đầu tư,3650,17135,411663.0,37219.0,-44912.0,11887,252537.0,30520.0,-22317.0,...,348602.0,171642.0,784220.0,727317.0,1390387.0,248942.0,298983.0,255196.0,95862.0,520690.0
9,Lãi/Lỗ thuần từ hoạt động khác,2427055,1526232,1199843.0,224532.0,600707.0,495639,2171847.0,1377357.0,898022.0,...,1323555.0,7110283.0,584093.0,1158668.0,276368.0,788659.0,724190.0,520855.0,540314.0,450802.0
10,Thu nhập từ hoạt động khác,3744662,2638555,2110711.0,1065881.0,1495256.0,1297356,2765634.0,2335765.0,1759002.0,...,1891589.0,7436486.0,1116884.0,1825218.0,1208092.0,1318510.0,1204317.0,899436.0,743621.0,594577.0
11,Chi phí hoạt động khác,-1317607,-1112323,-910868.0,-841349.0,-894549.0,-801717,-593787.0,-958408.0,-860980.0,...,-568034.0,-326203.0,-532791.0,-666550.0,-931724.0,-529851.0,-480127.0,-378581.0,-203307.0,-143775.0
12,Thu nhập từ hoạt động góp vốn mua cổ phần,9654,3147,NaN,NaN,NaN,3147,NaN,NaN,NaN,...,9654.0,NaN,NaN,2476.0,NaN,NaN,2477.0,2536.0,NaN,NaN
13,Chi phí hoạt động,-3791098,-3750960,-3331107.0,-3466567.0,-3615483.0,-3194749,-3678666.0,-3422919.0,-4064846.0,...,-3524036.0,-2990976.0,-2854783.0,-2455568.0,-2816551.0,-2592035.0,-2767411.0,-2786691.0,-2555273.0,-3282646.0
14,Lợi nhuận từ HDKD trước chi phí dự phòng rủi r...,13853307,11312047,12805925.0,9944045.0,9725657.0,8067282,9102840.0,8935834.0,8702962.0,...,9762453.0,15278619.0,8215661.0,7677041.0,9230395.0,8459441.0,7940093.0,6684835.0,6393198.0,6622967.0
15,Chi phí dự phòng rủi ro tín dụng,-7701873,-6125121,-8313437.0,-5762193.0,-7017806.0,-4950150,-6490301.0,-6386179.0,-7320145.0,...,-5585723.0,-4132443.0,-5370906.0,-4978670.0,-4199237.0,-4453265.0,-4318155.0,-3872191.0,-2719717.0,-3711575.0
16,Tổng lợi nhuận trước thuế,6151434,5186926,4492488.0,4181852.0,2707851.0,3117132,2612539.0,2549655.0,1382817.0,...,4176730.0,11146176.0,2844755.0,2698371.0,5031158.0,4006176.0,3621938.0,2812644.0,3673481.0,2911392.0
17,Chi phí thuế TNDN,-1111912,-1022666,-851327.0,-1039969.0,-596690.0,-689454,-160308.0,-899936.0,-242369.0,...,-852655.0,-2229353.0,-573226.0,-537551.0,-1014795.0,-804366.0,-724709.0,-561130.0,-722459.0,-597397.0
18,Chi phí thuế thu nhập hiện hành,-1113274,-1025640,-781095.0,-1042770.0,-559961.0,-688394,-846530.0,-889286.0,-851996.0,...,-852655.0,-2229353.0,-573226.0,-537551.0,-1014795.0,-804366.0,-724709.0,-561130.0,-722459.0,-597397.0
19,Chi phí thuế TNDN giữ lại,1362,2974,-70232.0,2801.0,-36729.0,-1060,686222.0,-10650.0,609627.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Lợi nhuận sau thuế thu nhập doanh nghiệp,5039522,4164260,3641161.0,3141883.0,2111161.0,2427678,2452231.0,1649719.0,1140448.0,...,3324075.0,8916823.0,2271529.0,2160820.0,4016363.0,3201810.0,2897229.0,2251514.0,2951022.0,2313995.0
21,Lợi ích của cổ đông thiểu số và cổ tức ưu đãi,422102,136428,74315.0,-424814.0,81081.0,2932,-609562.0,-886235.0,-1125171.0,...,-184131.0,245297.0,-157362.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,LNST sau khi điều chỉnh Lợi ích của CĐTS và Cổ...,4617420,4027832,3566846.0,3566697.0,2030080.0,2424746,3061793.0,2535954.0,2265619.0,...,3508206.0,8671526.0,2428891.0,2160820.0,4016363.0,3201810.0,2897229.0,2251514.0,2951022.0,2313995.0